﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content">

    <!-- CONTAINER -->
    <div class="container">
	    
        <!-- ROW -->
	    <div class="row">
			
		    <!-- CONTENT COL -->
		    <div @Html.Partial("USNLayout/USN_ContentColumnStyle",@Model.Content)>
				
			    @Html.Partial("USNBlog/USN_BlogListing",@Model.Content)
				
		    </div>
		    <!--// CONTENT COL -->

		    @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)
		
	    </div>
	    <!--// ROW -->
		
    </div>
    <!--// CONTAINER -->

</section>	
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })

@section BodyTag{@Html.Raw(" class=\"standard-page\"")}

@section FooterScripts
{
    @Html.Partial("USNBlog/USN_BlogDisqusCommentCountScript", @Model.Content)
}
