﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNMiscPageElements/USN_HeaderImageSection", @Model.Content)

<!-- CONTENT -->
<section class="content">

    <!-- CONTAINER -->
    <div class="container">
		
	    <!-- ROW -->
	    <div class="row">
			
		    <!-- CONTENT COL -->
		    <div @Html.Partial("USNLayout/USN_ContentColumnStyle",@Model.Content)>
				
                @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", @Model.Content)
		    
			    <!-- IMAGE -->
			    @Html.Partial("USNMiscPageElements/USN_MainImage",@Model.Content)
			    <!--// IMAGE -->
	       
			    @Umbraco.Field("bodyText")
		
				
			    @Html.Partial("USNStandardPageComponents/USN_StandardPageComponents",@Model.Content)
		
                <!-- META -->
                @Html.Partial("USNBlog/USN_BlogMeta", @Model.Content)
                <!--// META -->

			    <!-- AUTHOR BIO -->
			    @Html.Partial("USNBlog/USN_BlogAuthorship",@Model.Content)
			    <!--// AUTHOR BIO -->
		
                <!-- PAGINATION  -->
			    @Html.Partial("USNBlog/USN_BlogPostPreviousNext",@Model.Content)	
		        <!--// PAGINATION -->

                <!-- COMMENTS -->
			    @Html.Partial("USNBlog/USN_BlogComments",@Model.Content)
                <!--// COMMENTS -->
		    </div>
		    <!--// CONTENT COL -->
			
		    @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content)
			
	    </div>
	    <!--// ROW -->

    </div>
    <!--// CONTAINER -->

</section>	
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
@section BodyTag{@Html.Raw(" class=\"standard-page\"")}

@section FooterScripts
{
    @Html.Partial("USNBlog/USN_BlogDisqusCommentCountScript", @Model.Content)
}
