﻿<div ng-controller="USN.Heading.Controller">
    <input type="text" ng-model="model.value.heading" class="umb-editor umb-textstring textstring">
    <select ng-model="model.value.headingstyle">
        <option value=""></option>
        <option value="p">p (paragraph)</option>
        <option value="h1">h1 (heading level 1)</option>
        <option value="h2">h2 (heading level 2)</option>
        <option value="h3">h3 (heading level 3)</option>
        <option value="h4">h4 (heading level 4)</option>
        <option value="h5">h5 (heading level 5)</option>
        <option value="h6">h6 (heading level 6)</option>
    </select>
</div>