﻿@using Umbraco;
@using Umbraco.Web.Mvc;
@using Umb.VPR.ViewModels;
@using Umb.VPR.Controllers;
@inherits UmbracoViewPage<ForgotPasswordViewModel>
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <div class="alert alert-success">
        <h4>Forgot Password Email Notification</h4>
        <p>We have sent you an email with a password reset link which you can use to reset your password.</p>
    </div>
}
else
{
    using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleForgotPassword", null, htmlAttributes: new { @class = "forgotten-password" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(x => Model.EmailAddress, "Email address", new { @class = "control-label" })
                @Html.TextBoxFor(x => Model.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                @Html.ValidationMessageFor(model => model.EmailAddress, string.Empty, new { @class = "help-block" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Remind me</button>
            </div>
        </fieldset>
    }
}

