﻿@using Umbraco.Web.Mvc;
@using Umb.VPR.ViewModels;
@using Umb.VPR.Controllers;
@inherits UmbracoViewPage<LoginViewModel>
@using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleLogin"))
{
    var currentNode = Umbraco.TypedContent(UmbracoContext.PageId);
    if (TempData["LoginFailure"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade in">
            <div class="info">
                <p>@TempData["LoginFailure"]</p>
            </div>
        </div>
    }

    @Html.AntiForgeryToken()
    <div class="login">
        @Html.HiddenFor(x => Model.ReturnUrl)
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(x => Model.Username, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => Model.Username, new { autocapitalize = "off", @class = "form-control" })
                @Html.ValidationMessageFor(x => Model.Username, umbraco.library.GetDictionaryItem("USN Form Username Validation"))
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(x => Model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => Model.Password, umbraco.library.GetDictionaryItem("USN Form Password Validation"))
            </div>
        </fieldset>
        <fieldset>
            <button class="btn c1-bg c5-text" type="submit">
                <span>@currentNode.GetProperty("loginFormButtonText").Value</span>
            </button>

            <a href="/forgot-password" class="">Forgot Password</a>
        </fieldset>
    </div>
}