﻿@using Umbraco.Web.Mvc;
@using Umb.VPR.Controllers;
@using Umb.VPR.ViewModels;
@inherits UmbracoViewPage<RegisterViewModel>
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
@using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleRegister", null, htmlAttributes: new { @class = "member-register" }))
{
    var currentNode = Umbraco.TypedContent(UmbracoContext.PageId);

    if (TempData["RegistrationFailed"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade in">
            <div class="info">
                <p>@TempData["RegistrationFailed"]</p>
            </div>
        </div>
    }

    @Html.HiddenFor(m => Model.ReturnUrl)
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">
                Name
            </label>
            <div class="col-sm-5">
                @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "sr-only" })
                @Html.TextBoxFor(m => Model.FirstName, new { autocapitalize = "off", @class = "form-control", placeholder = "First name" })
                @Html.ValidationMessageFor(m => Model.FirstName, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
            <div class="col-sm-5">
                @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "sr-only" })
                @Html.TextBoxFor(m => Model.LastName, new { autocapitalize = "off", @class = "form-control", placeholder = "Last name" })
                @Html.ValidationMessageFor(m => Model.LastName, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-lg">
                Company
            </label>
            <div class="col-sm-5">
                @Html.LabelFor(m => m.Company, htmlAttributes: new { @class = "sr-only" })
                @Html.TextBoxFor(m => Model.Company, new { autocapitalize = "off", @class = "form-control", placeholder = "Company name" })
                @Html.ValidationMessageFor(m => Model.Company, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
            <div class="col-sm-5">
                @Html.LabelFor(m => m.Position, htmlAttributes: new { @class = "sr-only" })
                @Html.TextBoxFor(m => Model.Position, new { autocapitalize = "off", @class = "form-control", placeholder = "Position held at company" })
                @Html.ValidationMessageFor(m => Model.Position, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => Model.Email, htmlAttributes: new { @class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => Model.Email, new { autocapitalize = "off", @class = "form-control", placeholder = "Your email address" })
                @Html.ValidationMessageFor(m => Model.Email, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => Model.Password, htmlAttributes: new { @class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.PasswordFor(m => Model.Password, new { @class = "form-control", placeholder = "Between 6 - 14 characters long" })
                @Html.ValidationMessageFor(m => Model.Password, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => Model.ConfirmPassword, htmlAttributes: new { @class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.PasswordFor(m => Model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password" })
                @Html.ValidationMessageFor(m => Model.ConfirmPassword, String.Empty, htmlAttributes: new { @class = "help-block" })
            </div>
        </div>
        <hr />        
    </fieldset>
    <fieldset>
        <span class="text-muted">By clicking register I agree to this sites</span> <a href="/terms-conditions-and-cookies/">terms, conditions and cookie policies</a>
        <button class="btn c1-bg c5-text pull-right" type="submit">
            <span>Register</span>
        </button>
    </fieldset>
}
