﻿@using Umbraco.Web.Mvc;
@using Umb.VPR.ViewModels;
@using Umb.VPR.Controllers;
@inherits UmbracoViewPage<ResetPasswordViewModel>
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (!ViewData.ModelState.IsValid)
{
    <h3>Errors</h3>
    foreach (ModelState modelState in ViewData.ModelState.Values)
    {
        var errors = modelState.Errors;

        if (errors.Any())
        {
            <ul>
                @foreach (ModelError error in errors)
                {
                    <li><em>@error.ErrorMessage</em></li>
                }
            </ul>
        }
    }
}

@using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleResetPassword", null, htmlAttributes: new { @class = "reset-password" }))
{
    var currentNode = Umbraco.TypedContent(UmbracoContext.PageId);
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Reset your Password</legend>
        <div class="form-group">
            @Html.LabelFor(x => Model.EmailAddress, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(x => Model.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
            @Html.ValidationMessageFor(x => Model.EmailAddress, string.Empty, new { @class = "help-block" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => Model.Password, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(x => Model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => Model.Password, string.Empty, new { @class = "help-block" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => Model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(x => Model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => Model.ConfirmPassword, string.Empty, new { @class = "help-block" })
        </div>
    </fieldset>
    <fieldset>
        <button class="btn c1-bg c5-text" type="submit">
            <span>Reset Password</span>
        </button>
    </fieldset>

}

