﻿@using Umbraco.Web.Mvc;
@using Umb.VPR.ViewModels;
@using Umb.VPR.Controllers;
@using USN.Heading.Umbraco.Models;
@inherits UmbracoViewPage<VPRFormViewModel>
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    var containerId = "VPRFormContainer_" + Model.CurrentNodeId;
    var errorId = "VPRError_" + Model.CurrentNodeId;
    var successId = "VPRSuccess_" + Model.CurrentNodeId;
    var lineItemsId = "VPRLineItems_" + Model.CurrentNodeId;
    var ajaxLoadingId = "VPRAjax_" + Model.CurrentNodeId;
}
@if (!ViewData.ModelState.IsValid)
{

}

@using (Ajax.BeginForm("HandleVPRForm", "AuthSurface",
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = containerId,
        LoadingElementId = ajaxLoadingId
    },
    htmlAttributes: new { @class = "vpr-form", id ="vprForm" }))
{
    var currentNode = Umbraco.TypedContent(Model.CurrentNodeId);
    @Html.AntiForgeryToken()
    @Html.Hidden("CurrentNodeID", Model.CurrentNodeId)
    @Html.Hidden("MemberId", Model.MemberId)

    if (currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage"))
    {
        if (currentNode.HasValue("width") && currentNode.GetProperty("width").Value.ToString() == "Centered")
        {
            @Html.Raw("<div id=\"mid-col\" class=\"col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12\"><div class=\"spc forms\">")
        }
        else
        {
            @Html.Raw("<div id=\"wide-col\" class=\"col-xs-12\"><div class=\"spc forms\">")
        }
    }

    <div class="vpr form">
        <div class="inner c5-bg has-borders c6-borders">
            @if (currentNode.HasValue("VPR_Heading"))
            {
                var vprHeading = currentNode.GetPropertyValue<USNHeading>("VPR_Heading");
                if (vprHeading != null && !String.IsNullOrEmpty(vprHeading.Heading))
                {
                    @Html.Raw("<" + vprHeading.HeadingStyle + " class=\"heading main\">")
                    @vprHeading.Heading
                    @Html.Raw("</" + vprHeading.HeadingStyle + ">")
                }
            }
            @if (currentNode.HasValue("VPR_Introduction"))
            {
                @Html.Raw(currentNode.GetProperty("VPR_Introduction").Value)
            }
                        
            <div id="@containerId">
                <div id="@errorId" class="alert alert-danger alert-dismissible fade in" style="display:none"></div>
                <div id="@successId" class="alert alert-success alert-dismissible fade in" style="display:none;"></div>  
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                @Html.LabelFor(m => Model.MonthId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => Model.MonthId, Model.Months, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => Model.MonthId, string.Empty, new { @class = "help-block" })
                            </div>
                            <div class="col-md-6 col-xs-12">
                                @Html.LabelFor(m => Model.VenueId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => Model.VenueId, Model.VenueItems, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => Model.VenueId, string.Empty, new { @class = "help-block" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="@lineItemsId">
                    <legend class="text-muted">Enter your monthly performance data</legend>
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            @Html.Label("Event Type")
                        </div>
                        <div class="col-md-2 col-xs-12">
                            @Html.Label("Total No Of Events")
                        </div>
                        <div class="col-md-2 col-xs-12">
                            @Html.Label("Total No Of Delegates")
                        </div>
                        <div class="col-md-2 col-xs-12">
                            @Html.Label("Average DDR")
                        </div>
                        <div class="col-xs-1">
                            @*Empty Column*@
                        </div>
                    </div>
                    @for (var i = 0; i < Model.Items.Count(); i++)
                    {
                        @Html.EditorFor(m => Model.Items[i])
                    }
                </fieldset>
                <fieldset class="buttons">
                    <button class="btn c1-bg c5-text" type="submit">
                        <span>Submit Data</span>
                    </button>
                    <a id="addNewRow" class="btn btn-default">
                        <span>Add New Row</span>
                    </a>
                </fieldset>
                <div class="ajax-loading" id="@ajaxLoadingId" style="display:none">
                    <div class="loading">
                        <span class="message">Sending ...</span>
                    </div>
                </div>
            </div>
            <div id="@ajaxLoadingId" style="display:none">
                <img src="~/images/icons/loading-on-white.gif" style="height:60px;width:60px" />
            </div>
        </div>
    </div>

    if (currentNode.Parent.Parent.IsDocumentType("USNHomepage") || currentNode.Parent.Parent.IsDocumentType("USNAdvancedPage"))
    {
        @Html.Raw("</div></div>")
    }
}

<script type="text/javascript">
    (function ($) {
        $.validator.unobtrusive.parseDynamicContent = function (selector) {
            // use the normal unobstrusive.parse method
            $.validator.unobtrusive.parse(selector);

            // get the relevant form
            var form = $(selector).first().closest('form');

            //get the collections of unobstrusive validators, and jquery validators and compare the two.
            var unobtrusiveValidation = form.data('unobtrusiveValidation');
            var validator = form.validate();
            $.each(unobtrusiveValidation.options.rules, function (elname, elrules) {
                if (validator.settings.rules[elname] == undefined) {
                    var args = {};
                    $.extend(args, elrules);
                    args.messages = unobtrusiveValidation.options.messages[elname];
                    //edit:use quoted strings for the name selector
                    $("[name='" + elname + "']").rules("add", args);
                } else {
                    $.each(elrules, function (rulename, data) {
                        if (validator.settings.rules[elname][rulename] == undefined) {
                            var args = {};
                            args[rulename] = data;
                            args.messages = unobtrusiveValidation.options.messages[elname][rulename];
                            //edit:use quoted strings for the name selector
                            $("[name='" + elname + "']").rules("add", args);
                        }
                    });
                }
            });
        }
    })($);
    $(document).on("sumbit", "#vprForm", function () {
        alert('submitted');
    });
    $(document).on("click", "#addNewRow", function () {
        var nextIndex = $("#@lineItemsId .form-group").length;
        $.ajax({
            url: '@this.Url.Action("AddRow", "VPRFormSurface")',
            type: 'POST',
            data: { index: nextIndex },
            success: function (results) {
                $("#@lineItemsId").append(results);
                $.validator.unobtrusive.parseDynamicContent('#@lineItemsId .form-group:last');
            }
        });
        return false;
    });

    $(document).on("click", ".removeButton", function () {
        // Get item row to delete.
        var itemToDelete = $(this).closest('.form-group');
        // TODO: remove validation.

        // Mark row as deleted.
        $(this).prev("input").val('true');
        // Hide row.
        itemToDelete.hide();
        
        return false;
    });
</script>
