﻿@model Umb.VPR.ViewModels.EventItemViewModel
<div class="form-group">
    <div class="row">
        <div class="col-md-5 col-xs-12">
            @Html.LabelFor(m => Model.EventType, htmlAttributes: new { @class = "sr-only" })
            @Html.DropDownListFor(m => Model.EventType, Model.EventTypeItems, htmlAttributes: new { @class = "form-control", placeholder = "Select Event Type" })
            @Html.ValidationMessageFor(x => Model.EventType, string.Empty, new { @class = "help-block" })
        </div>
        <div class="col-md-2 col-xs-12">
            @Html.LabelFor(m => Model.TotalNoOfEvents, htmlAttributes: new { @class = "sr-only" })
            @Html.TextBoxFor(m => Model.TotalNoOfEvents, htmlAttributes: new { @class = "form-control", placeholder = "Total No of Events" })
            @Html.ValidationMessageFor(x => Model.TotalNoOfEvents, string.Empty, new { @class = "help-block" })
        </div>
        <div class="col-md-2 col-xs-12">
            @Html.LabelFor(m => Model.TotalNoOfDelegates, htmlAttributes: new { @class = "sr-only" })
            @Html.TextBoxFor(m => Model.TotalNoOfDelegates, htmlAttributes: new { @class = "form-control", placeholder = "No of Delegates" })
            @Html.ValidationMessageFor(x => Model.TotalNoOfEvents, string.Empty, new { @class = "help-block" })
        </div>
        <div class="col-md-2 col-xs-12">
            @Html.LabelFor(m => Model.AverageDDR, htmlAttributes: new { @class = "sr-only" })
            @Html.TextBoxFor(m => Model.AverageDDR, htmlAttributes: new { @class = "form-control", placeholder = "Average DDR" })
            @Html.ValidationMessageFor(x => Model.AverageDDR, string.Empty, new { @class = "help-block" })
        </div>
        <div class="col-xs-1">
            @Html.HiddenFor(m => Model.IsDeleted)
            <label class="sr-only">&nbsp;</label>
            <a class="btn btn-default c1-text removeButton"><i class="fa fa-minus"></i></a>
        </div>
        @Html.HiddenFor(m => Model.Id)
    </div>
</div>